<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content">
    <div class="row mt-5 align-items-end mb-3">
        <div class="col-2">
            <img class="img-fluid" th:src="'https://image.tmdb.org/t/p/w92/' + ${movie.posterPath}" />
        </div>
        <div class="col-10">
            <p class="text-muted" th:text="${movie.overview}">A movie about...</p>
            <h6>Release: <span th:text="${#temporals.format(movie.releaseDate, 'dd MMMM yyyy')}">01 Jan 2001</span></h6>
        </div>
    </div>
    <h5>Reviews</h5>
    <div th:if="${reviews.hasContent()}">
        <div th:each="review: ${reviews.getContent()}"  th:attr="data-movie-review-id=${review.getId()},data-user-movie-review-rating=${review.getRating()}" class="movie-reviews-card card rounded mt-3">
            <div class="card-header">
                <img th:src="${#strings.isEmpty(review.userProfileImage) ? '/img/default-profile-pic.png' : review.userProfileImage}" class="rounded-circle profile-avatar-img">
                <p th:text="${ review.userFullName}" class="d-inline-block text-uppercase text-muted mr-3">Michael Brown</p>
            </div>
            <div class="card-body">
                <p th:text="${review.reviewText}">I am a review</p>
            </div>
            <div class="card-footer text-muted movie-review-footer">
                <div class="float-left">
                    <i class="fas fa-calendar"></i> <span>Posted: <span th:text="${review.prettyTimeCreatedDate}">Today</span></span>
                </div>
                <div class="float-right">
                    <div class="d-flex flex-row">
                        <div class="p-2">
                            <div th:id="${'movie-reviews-card-rating-' + review.getId()}">
                            </div>
                        </div>
                        <div class="p-2 align-items-center"><span th:text="${review.rating}" class="rating">3.6</span></div>
                        <div class="p-2"> <i class="fas fa-bookmark bookmarked movie-review-bookmark-btn"></i></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <nav th:if="${reviews.hasContent()}">
        <ul class="pagination justify-content-center font-weight-normal">
            <li class="page-item" th:classappend="${reviews.number + 1 eq 1} ? 'disabled'">
                <a class="page-link svg-icon"
                   th:href="@{/reviews/${movie.getId()}/(page=${reviews.number})}"
                   aria-label="Previous"
                   title="Previous Page" rel="tooltip">
                    <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20"></span>
                </a>
            </li>

            <li class="page-item" th:classappend="${i eq reviews.number + 1} ? 'active'"
                th:each="i : ${#numbers.sequence(reviews.number + 1, reviews.totalPages > 10 + reviews.number ? reviews.number + 10 : reviews.totalPages, 1)}">
                <a class="page-link h-100" th:href="@{/reviews/${movie.getId()}/(page=${i})}" th:text="${i}"
                   th:title="${'Page '+ i}"
                   rel="tooltip"></a>
            </li>
            <li class="page-item disabled" th:if="${reviews.number + 10 < reviews.totalPages}">
                <a class="page-link svg-icon" href="#">
                    <span data-feather="more-horizontal" width="20" height="20"></span>
                </a>
            </li>

            <li class="page-item"  th:classappend="${reviews.number + 1 eq reviews.totalPages} ? 'disabled'">
                <a class="page-link svg-icon"
                   th:href="@{/reviews/${movie.getId()}/(page=${reviews.number + 2})}"
                   aria-label="Next"
                   title="Next Page" rel="tooltip">
                    <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"></span>
                </a>
            </li>
        </ul>
    </nav>
    <script>
        initializeMovieReviewsRating();
    </script>
</div>
</body>
</html>