<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content">
    <div class="card rounded mt-3">
        <div class="card-body">
            <h5 class="card-title text-center">Find your next movie</h5>
            <form method="get">
                <div class="form-group">
                    <input type="hidden" name="page" value="1">
                    <input th:value="${param.query} ? ${param.query} : ''" type="text" name="query" placeholder="e.g. Shrek" id="search-movie" class="form-control">
                </div>
                <div class="form-group">
                    <div class="d-flex justify-content-center">
                        <input type="submit" class="btn search-btn w-25 btn-primary btn-lg" value="Search">
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div th:if="!${param.query}" class="d-flex mt-5 justify-content-center">
     <i class="fas search-results fa-search"></i>
  </div>
    <div th:if="${param.query}" class="mt-5">
        <h3 class="mb-3"><span th:text="${searchResults.getTotalResults()}">22</span> movies found...</h3>
        <div class="card mb-2" th:each="movie: ${searchResults.getResults()}">
            <div class="card-body">
                <h1 class="card-title text-center" th:text="${movie.title}">Shrek</h1>
                <div class="row">
                    <div class="col-2">
                        <img class="img-fluid" th:src="'https://image.tmdb.org/t/p/w185' + ${movie.posterPath}" />
                    </div>
                    <div class="col-10">
                        <h5>Overview</h5>
                        <p th:text="${movie.overview}">It ain't easy bein' green -- especially if you're a likable (albeit smelly) ogre named Shrek. On a mission to retrieve a gorgeous princess from the clutches of a fire-breathing dragon, Shrek teams up with an unlikely compatriot -- a wisecracking
                            donkey.
                        </p>
                        <br />
                        <p><b>Language:</b> English</p>
                        <p><b>Release date:</b> 16 May 2001</p>
                        <p><b>TMDb Popularity:</b> 27</p>
                        <p><b>TMDb Vote Average: </b>6.2</p>
                    </div>
                </div>
                <div class="btn-group float-right">
                    <button class="btn btn-primary btn-lg mx-1 rounded">
                        <i class="fas fa-pencil-alt"></i> WRITE A REVIEW
                    </button>
                    <button class="btn btn-success btn-lg mx-1 rounded">
                        <i class="fas fa-book-reader"></i> VIEW REVIEWS
                    </button>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <ul class="pagination justify-content-center font-weight-normal">
            <li class="page-item" th:classappend="${searchResults.getPage() eq 1} ? 'disabled'">
                <a class="page-link svg-icon"
                   th:href="@{/search/(query=${param.query},page=${searchResults.getPage() - 1})}"
                   aria-label="Previous"
                   title="Previous Page" rel="tooltip">
                    <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20"></span>
                </a>
            </li>

            <li class="page-item" th:classappend="${i eq searchResults.getPage()} ? 'active'"
                th:each="i : ${#numbers.sequence(searchResults.getPage(), searchResults.getTotalPages() > 9 + searchResults.getPage() ? searchResults.getPage() + 9 : searchResults.getTotalPages(), 1)}">
                <a class="page-link h-100" th:href="@{/search/(query=${param.query},page=${i})}" th:text="${i}"
                   th:title="${'Page '+ i}"
                   rel="tooltip"></a>
            </li>
            <li class="page-item disabled" th:if="${searchResults.getPage() + 9 < searchResults.getTotalPages()}">
                <a class="page-link svg-icon" href="#">
                    <span data-feather="more-horizontal" width="20" height="20"></span>
                </a>
            </li>

            <li class="page-item"  th:classappend="${searchResults.getPage() eq searchResults.getTotalPages()} ? 'disabled'">
                <a class="page-link svg-icon"
                   th:href="@{/search/(query=${param.query},page=${searchResults.getPage() + 1})}"
                   aria-label="Next"
                   title="Next Page" rel="tooltip">
                    <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"></span>
                </a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>